@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.restaurante-detalles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #ededed;
    
    padding: 2em;
}

.restaurante-detalles-container > .informacionRestaurante{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 3em;

}

.restaurante-detalles-container > .informacionRestaurante > .imgRestaurante > img{
    border-radius: 20px;
}

.restaurante-detalles-container > .informacionRestaurante > .restauranteDetalles{
    text-align: left;
}
.restaurante-detalles-container > .informacionRestaurante > .restauranteDetalles > h2{
    font-size: 55px;
    color: blueviolet;
}
.restaurante-detalles-container > .informacionRestaurante > .restauranteDetalles > p{
    font-size: 27px;
}

/*VER MENU CSS*/
.restaurante-detalles-container > .menuRestaurante{
    /*lo dejare vacio por el memento*/
}
.restaurante-detalles-container > .menuRestaurante > h3{
    font-size: 38px;
    color: rgb(65, 11, 107);
    text-align: left;
    margin-bottom: 0.5em;
}


.restaurante-detalles-container > .menuRestaurante > .menuWrapper{
    margin-bottom: 1em;
}

.restaurante-detalles-container > .menuRestaurante > .menuWrapper > ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.restaurante-detalles-container > .menuRestaurante > .menuWrapper > ul > li{
    background-color: rgb(219, 221, 222);
    margin-bottom: 2em;
    box-shadow: 2px #525252;
    list-style: none;
    border-radius: 20px;
    padding: 10px;
}
.restaurante-detalles-container > .menuRestaurante > .menuWrapper > ul > li > h4{
    font-size: 33px;
    color: rgb(75, 17, 120);
    margin-bottom: 10px;
}
.restaurante-detalles-container > .menuRestaurante > .menuWrapper > ul > li > p{
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}
.restaurante-detalles-container > .menuRestaurante > .menuWrapper > ul > li > button{
    font-size: 22px;
    background-color: goldenrod;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 8px;
}
.restaurante-detalles-container > .menuRestaurante > .menuWrapper > ul > li > button:hover{
    background-color: blueviolet;
    cursor: pointer;
}

/*Mostrar informacion del pedido que se está realizando en cuestion*/
.pedidoGestionWrapper{
    background-color: #DBDDDE;
    width: 1650px;
    margin-bottom: 3em;
    border-radius: 40px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.pedidoGestionWrapper > .pedido-temporal{
}
.pedidoGestionWrapper > .pedido-temporal > h3{
    font-size: 40px;
    color: rgb(65, 11, 107);
}
.pedidoGestionWrapper > .pedido-temporal > p{
    font-size: 28px;
    color:black;
    margin-top: 15px;
}

.pedidoGestionWrapper > .pedido-temporal > .pedido-item{
    font-size: 22px;
    color: #202020;
}

.pedidoGestionWrapper > .pedido-finalizacion{
    margin-top: 20px;
}
.pedidoGestionWrapper > .pedido-finalizacion > h3{
    font-size: 40px;
    color: rgb(65, 11, 107);
}

.pedidoGestionWrapper > .pedido-finalizacion > .detallesPedidoFormulario > .form-group{
    /*Aqui podria manejar el formulario de digitar direccion de entrega y metodo de pago*/
}
.pedidoGestionWrapper > .pedido-finalizacion > .detallesPedidoFormulario > .form-group > label{
    font-size: 24px;
    margin-top: 10px;
}
.pedidoGestionWrapper > .pedido-finalizacion > .detallesPedidoFormulario > .form-group > input{
    width: 400px;
    height: 32px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    padding: 5px;
}
.pedidoGestionWrapper > .pedido-finalizacion > .detallesPedidoFormulario > .form-group > select{
    width: 400px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    padding: 5px;
}

.pedidoGestionWrapper > .pedido-finalizacion > .detallesPedidoFormulario > .btn{
    width: 300px;
    height: 55px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    padding: 5px;
    margin-top: 28px;
    background-color: rgb(56, 164, 19);
    color: #ffffff;
}
.pedidoGestionWrapper > .pedido-finalizacion > .detallesPedidoFormulario > .btn:hover{
    background-color: blueviolet;
    cursor: pointer;
    
}