@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
    margin-top: -25px;
}
label{
    font-size: 20px;
}

.generalContainerLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.loginContainer{
    background-color: #F0F0F0;
    width: 500px;
    height: 400px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 5px rgb(201, 195, 195);
    padding: 100px;
    font-family: 'Roboto', sans-serif;
}

.loginContainer > .loginBrand > img{
    border-radius: 20px;
}

.generalContainerLogin > .loginContainer > .formContainer > form > div > input{
    background-color: white;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    border: 2px solid rgb(236, 236, 236);
}

.loginContainer > .formContainer form > div > button{
    width: 120px;
    height: auto;
    border-radius: 10px;
    border: none;
    background-color: #12BF23;
    color: white;
    font-size: 25px;
    margin-top: 0.5em;
    padding: 10px 20px;
}
.loginContainer > .formContainer form > div > button:hover{
    background-color: blueviolet;
    cursor: pointer;
    box-shadow: 0 1px rgb(165, 164, 164);
}

.generalContainerLogin > .copyRight{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.generalContainerLogin > .copyRight > p{
    font-size: 20px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 5em;
}